[Unit]
Description=Kata Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/kata-agent --config /etc/agent-config.toml
ExecStartPre=-umount /sys/fs/cgroup/misc
ExecStartPre=/sbin/ip netns add podns
ExecStartPre=/sbin/ip netns exec podns ip link set lo up
ExecStopPost=/sbin/ip netns delete podns
SyslogIdentifier=kata-agent

[Install]
WantedBy=multi-user.target
